In [9]:
%endpoint http://sparqlapi:3030/ds
# %endpoint https://query.wikidata.org/bigdata/namespace/wdq/sparql
%format any
%display table

Endpoint set to: http://sparqlapi:3030/ds
Request format: ANY
Display: table

# Wikipedia-eksempel

In [10]:
SELECT ?human ?humanLabel
WHERE
{
  ?human wdt:P31 wd:Q5 .       #find humans
  ?human rdf:type wdno:P40 .   #with at least one truthy P40 (child) statement defined to be "no value"
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en" }
}

Error: SPARQL error: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.

Response:
b'Parse error: Line 4, column 10: Unresolved prefixed name: wdt:P31\n'

# insert data

In [12]:
INSERT DATA { GRAPH <metadata> {
    <http://dataset/123> <owner> "foo".
    <http://dataset/123> <uploader> "bar".
    <http://dataset/345> <owner> "blah".
    }
}

In [14]:
SELECT ?owner
FROM <metadata>
WHERE {
    ?dataset <owner> ?owner
}

owner
blah
foo